Repository graphprotocol/indexer, pull requests merged in 2022-08, with the labels that each got.

#453 indexer-cli, -common: allow status latestBlock to be nullable
  packages/indexer-cli/src/commands/indexer/status.ts
  packages/indexer-common/src/indexer-management/__tests__/actions.ts
  packages/indexer-common/src/indexer-management/client.ts
  packages/indexer-common/src/indexing-status.ts
  packages/indexer-common/src/network-subgraph.ts
  packages/indexer-common/src/types.ts
Labels: bug

#455 indexer-agent: Create DB migration to expand failureReason column
  packages/indexer-agent/src/db/migrations/09-actions-expand-failure-reason-varchar.ts
Labels: hardening, indexer-agent

#438 docs/network: Update recommended indexer component versions
  docs/networks.md
Labels: documentation

#446 docs/network: Update recommended graph-node version
  docs/networks.md
Labels: documentation

#454 Shorten failure reason stored
  docs/errors.md
  packages/indexer-common/src/errors.ts
  packages/indexer-common/src/indexer-management/allocations.ts
  packages/indexer-common/src/indexer-management/monitor.ts
  packages/indexer-common/src/indexer-management/resolvers/allocations.ts
Labels: enhancement, indexer-common

#463 indexer-cli: command to batch approve queued
  packages/indexer-cli/src/commands/indexer/actions/approve.ts
  packages/indexer-common/src/actions.ts
  packages/indexer-common/src/indexer-management/client.ts
Labels: enhancement, indexer-cli

#470 Indexer-common: Fix automatic rule creation upon confirmed action execution
  packages/indexer-cli/src/rules.ts
  packages/indexer-common/src/errors.ts
  packages/indexer-common/src/index.ts
  packages/indexer-common/src/indexer-management/__tests__/helpers.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/actions.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/cost-models.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/indexing-rules.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/poi-disputes.ts
  packages/indexer-common/src/indexer-management/allocations.ts
  packages/indexer-common/src/indexer-management/rules.ts
  packages/indexer-common/src/rules.ts
  packages/indexer-common/src/utils.ts
Labels: bug, indexer-common

#465 Set default for cost models plurals, add tests
  packages/indexer-agent/src/agent.ts
  packages/indexer-agent/src/indexer.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/cost-models.ts
  packages/indexer-common/src/indexer-management/models/cost-model.ts
  packages/indexer-common/src/indexer-management/resolvers/cost-models.ts
  packages/indexer-service/src/server/cost.ts
Labels: indexer-common
