Repository graphprotocol/indexer, pull requests merged in 2023-02, with the labels that each got.

#587 indexer-service: Add 'yaml' dependency
  packages/indexer-service/CHANGELOG.md
  packages/indexer-service/package.json
Labels: bug

#602 indexer-agent: Remove networkCurrentEpoch() from critical path
  packages/indexer-agent/src/agent.ts
Labels: enhancement, indexer-agent

#601 common: split checks and refine error messages when querying the EBO
  packages/indexer-common/src/indexer-management/monitor.ts
Labels: enhancement, indexer-common

#603 indexer-agent: Fix bug in startup argument parser
  packages/indexer-agent/src/commands/start.ts
Labels: bug, indexer-agent

#597 indexer-agent,-common: query fee metrics for Prometheus
  packages/indexer-agent/src/commands/start.ts
  packages/indexer-common/CHANGELOG.md
  packages/indexer-common/src/allocations/query-fees.ts
  packages/indexer-common/src/indexer-management/__tests__/resolvers/actions.ts
Labels: indexer-agent, indexer-common
