Repository graphprotocol/indexer, pull requests merged in 2024-07, with the labels that each got.

#940 Docs: recommend v0.21.3
  docs/networks/arbitrum-one.md
  docs/networks/arbitrum-sepolia.md
  docs/networks/ethereum-mainnet.md
  docs/networks/ethereum-sepolia.md
Labels: documentation, p1

#955 common, docs: Update subgraph maxBlockDistance default values
  docs/subgraph-freshness.md
  packages/indexer-common/src/network-specification.ts
Labels: documentation, enhancement, indexer-agent

#948 fix: remove queryInterface reference
  packages/indexer-agent/src/commands/start.ts
  packages/indexer-common/src/allocations/__tests__/tap.test.ts
  packages/indexer-common/src/allocations/query-fees.ts
  packages/indexer-common/src/network.ts
Labels: TAP

#903 indexer-cli, indexer-common: Add CLI command to kick off receipt collection for an allocation
  packages/indexer-cli/src/__tests__/references/indexer-help.stdout
  packages/indexer-cli/src/allocations.ts
  packages/indexer-cli/src/commands/indexer/allocations/collect.ts
  packages/indexer-common/src/indexer-management/client.ts
  packages/indexer-common/src/indexer-management/resolvers/allocations.ts
Labels: enhancement, indexer-cli, indexer-common

#958 common: Fix handling of indexingStatus responses from graph-node
  packages/indexer-common/src/graph-node.ts
Labels: bug
