Repository graphprotocol/indexer, pull requests merged in 2024-08, with the labels that each got.

#977 agent: Allow configuring polling interval for data collection
  packages/indexer-agent/src/agent.ts
  packages/indexer-agent/src/commands/start.ts
  packages/indexer-agent/src/types.ts
Labels: enhancement, indexer-agent

#839 common: log endpoint in freshness checker
  packages/indexer-common/src/epoch-subgraph.ts
  packages/indexer-common/src/graph-node.ts
  packages/indexer-common/src/network-subgraph.ts
  packages/indexer-common/src/subgraphs.ts
Labels: indexer-common

#973 agent: fix db migration for value_aggregate from 20 to 39 digits
  packages/indexer-agent/src/db/migrations/12-add-scalar-tap-table.ts
  packages/indexer-agent/src/db/migrations/15-modify-scalar-tap-tables.ts
Labels: bug, TAP
